@charset "ISO-8859-1";

* {
  margin  : 0;
  padding : 0;
}

body {
  font   : 16px Arial, Helvetica, sans-serif;
  color  : #4d4d4d;
  margin : 1em;

  -webkit-font-smoothing : antialiased;
     -moz-font-smoothing : antialiased;
      -ms-font-smoothing : antialiased;
       -o-font-smoothing : antialiased;
}

h1 {
  font-size       : 2.75em;
  text-decoration : underline;
  margin-bottom   : 0.25em;
}

label {
  display : inline;
}

input[type=number] {
  text-align : right;
  width      : 4em;
  font-size  : 1.1em;
}

.term {
  font-weight : 800;
  font-size   : 1.2em;
  text-align  : right;
  padding     : 0.33em;
}

.definition {
  padding-top    : .25em;
  padding-bottom : .25em;
  padding-right  : .25em;
  padding-left   : 2em;
}

.definition tt {
  font-size : 1.25em;
}

.unit {
  text-align : right;
}

.alt_unit {
  text-align : left;
}

.desc {
  text-align : right;
  font-size  : 1.15em;
}

.instruction {
  text-align     : left;
  padding-top    : 1em;
  font-size      : 1.25em;
}

/**********************************************************************************************************************
* Tabs
**********************************************************************************************************************/
.tab {
  overflow         : hidden;
  border           : 1px solid #ccc;
  background-color : #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color : inherit;
  float            : left;
  border           : none;
  outline          : none;
  cursor           : pointer;
  padding          : 14px 16px;
  transition       : 0.3s;
  font-weight      : 100;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color : #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color : #ccc;
  font-weight      : 800; 
}

/* Style the tab content */
.tabContent {
  display    : none;
  padding    : 1em;
  border     : 1px solid #ccc;
  border-top : none;
  animation  : fadeEffect 1s;
}

.fadeOut {
  display : none;
  animation : fadeEffect 1s;
}

.fadeIn {
  display : block;
  animation : fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from { opacity : 0; }
  to   { opacity : 1; }
}

/**********************************************************************************************************************
 * Parameter table
 **********************************************************************************************************************/

.param_table_group {
  height : 12em;
}

.param_table {
  border-spacing   : 0.5em;
  background-color : rgb(236, 250, 252);
  border           : solid rgb(40, 40, 40) 1px;
  height : 100%;
}

.param_hdr {
  font-weight : 800;
  font-size   : 1.4em;
  text-align  : center;
  padding     : 0.33em;
}

/**********************************************************************************************************************/

#canvas_container {
  position : relative;
}  

#graph_canvas {
  position         : absolute;
  z-index          : auto;
  margin-top       : 0.5em;
  border           : 1px solid #ccc;
  background-color : #FFFFEE;
}  

#graph_canvas_overlay {
  margin-top : 0.5em;
  border     : 1px solid transparent;
  position   : absolute;
  z-index    : 1;
}  
